// Button colors
$buttonColor: #a8d5e2; // Soft pastel blue
$buttonHover: #85c4d0; 
$topButtonHover: #68b0be; 

// Text colors for light theme
$titleColor: #5d576b; // Muted lavender
$textColor: #6b6b83;
$subTitle: #a1a1b4;
$cardSubtitle: #94929e;
$talkCardSubTitle: #b3b1c2;
$blogCardTitleColor: #484451;

// Text colors for dark theme
$textColorDark: #faf3dd; // Off-white

// Toggle switch colors
$toggleCheck: #c5e3c4; // Soft green
$toggleSwitchSliderBG: #f6d7a7;

// GitHub repo specific colors
$githubRepoCardLanguageColorBG: #f3a683; // Peach
$githubRepoCardColor: #bcb6d7; 
$githubRepoCardRepoCardStatsColor: #d1d8e0;
$githubRepoCardRepoNameColor: #808080;

// Background colors for light theme
$lightBackground1: #f4e1d2; 
$lightBackground2: #f6f7eb; 
$lightBackground3: #e8f0f2; 
$blogCardContainerColor: #f9edeb;

// Background colors for dark theme
$darkBackground: #3e444a; 

// Box shadows for light theme
$lightBoxShadowDark: rgba(0, 0, 0, 0.1);
$lightBoxShadow: rgba(0, 0, 0, 0.05);

// Box shadows for dark theme
$darkBoxShadow: rgba(255, 255, 255, 0.1);
$darkBoxShadow2: rgba(255, 255, 255, 0.05);

// Borders
$progressBarBackground: #e7d3e9;
$lightBorder1: rgba(240, 239, 239, 0.6);
$educationCardBorder: #d7e9a7;

// Hovers
$achievementCertificateCardHoverDark: rgba(240, 240, 255, 0.2);
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.6);
$headerHoverBG: #f5eaea;
$contactDetailHoverTS: #cfcfcf;

// Miscellaneous colors
$progressBarSpanBG: #fae1dd;
$iconBackground: #8da1b9;
$appHeaderBG: #f7d6d0;

// Social media icons
$faceBook: #acdde7;
$linkedin: #9ed7c8;
$github: #d4a5a5;
$gitlab: #ffc2c2;
$google: #ffd1a9;
$twitter: #bae5f6;
$medium: #d4bebe;
$stackoverflow: #f8d3a9;
$instagram: #ffd4e5;
$kaggle: #c7d0d8;
